*{
    background-color: blanchedalmond;
    font-size: 1.25rem;
}

p {
    font-size: 1.25rem;
    color: black;
}

.hyperlink{
    text-align: center;
    font-size: 2rem;
    text-indent: 1.25em;
    tab-size: 4;
    display: inline-block;
    margin-left: 40px;


}

a:hover{
    color: black;
}

a:link{
    color: blue;
}

.section-right{
    text-align: right;
}

.section-left{
    text-align: left;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 0.5em 0;
    background-color: burlywood;
}