*{
    background-color: blanchedalmond;
    font-size: 1.25rem;
}

p {
    font-size: 1.25rem;
    color: black;
}

.hyperlink{
    text-align: center;
    font-size: 2rem;
    text-indent: 1.25em;
    tab-size: 4;
    display: inline-block;
    margin-left: 40px;


}

a:hover{
    color: black;
}

a:link{
    color: blue;
}

.section-right{
    text-align: right;
}

.section-left{
    text-align: left;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 0.5em 0;
    background-color: burlywood;
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}